<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.riot.data.summoner.mapper.SummonerMapper">

	<select id="selectSummonerList" resultType="com.springboot.riot.data.summoner.vo.SummonerInfoVo">
		SELECT
			ACCOUNT_ID
			, TEAM_SEQ
			, ACTIVITY_NM
			, ACTIVITY_KOR_NM
			, USER_NAME
			, LANE
			, ID
			, PUUID
			, NICKNAME
			, PROFILE_ICON_ID
			, REVISION_DATE
			, SUMMONER_LEVEL
			, PROFILE_NM
		FROM SUMMONER_INFO
	</select>
	
	<select id="selectMatchReferenceOne" parameterType="hashMap" resultType="Int">
		SELECT COUNT(*)
		FROM SUMMONER_MATCH_INFO
		WHERE ACCOUNT_ID = #{accountId}
		AND   GAME_ID = #{gameId}
	</select>

	<insert id="insertMatchReference" parameterType="com.springboot.riot.data.summoner.dto.MatchReferenceDto">
		INSERT INTO SUMMONER_MATCH_INFO
		(
			ACCOUNT_ID
			, GAME_ID
			, PLATFORM_ID
			, CHAMPION
			, QUEUE
			, SEASON
			, TIME_STAMP
			, ROLE
			, LANE
			, REG_DATE
		) VALUES (
			#{accountId}
			, #{gameId}
			, #{platformId}
			, #{champion}
			, #{queue}
			, #{season}
			, #{timeStamp}
			, #{role}
			, #{lane}
			, NOW()
		)

	</insert>

</mapper>
